<div class="login-container">
  <h1> Login </h1>
  <form (ngSubmit)="onSubmit()">

    <div class="field-style">
      <mat-form-field>
        <mat-label>Customer ID</mat-label>
        <input matInput [(ngModel)]="customer_id" name="customer_id" required>
      </mat-form-field>
    </div>

    <div class="field-style">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="userpassword" name="userpassword" required>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" aria-label="Login"> Login </button>

  </form>
</div>
