.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f7f7f7;
}

.field-style {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

button {
  display: block;
  width: 100%;
}
