.login-container {
  max-width: 20%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f7f7f7;
}

@media (max-width: 600px) {
  .login-container{
    max-width: 50%;
  }
}

.field-style {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

button {
  display: block;
  width: 100%;
}


