:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.password-container{
  margin-left: 8px;
}

.button-row{
  margin-left: 8px;
  display: table-cell;
  margin: 8px 8px 8px 0;
}
