:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  display: flex;
  margin: 0;
}

.sidenav-container {
  background-color: white;
}

.sidenav {
  width: 15%;
}

.mat-sidenav-content {
  padding: 10px;
}

.toolbar-style{
  margin-bottom: 10px;
  top: 10px;
  width: 100%;
}

.body-stile{
  height: 100vh;
}

@media (max-width: 600px) {
  .toolbar-style{
    margin-bottom: 10px;
    top: 10px;
    width: 100%;
    height: 40px;
  }

  .sidenav {
    width: 25%;
  }
}

