<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav-content>
    <div>
      <mat-card class="card-style">
        <mat-card-content> Spesa totale: {{totalAmount}} €</mat-card-content>
      </mat-card>
    </div>

      <div class="table">
        <table mat-table [dataSource]="pastRentalsFilms">
          <ng-container matColumnDef="title">
            <th class="button-header" mat-header-cell *matHeaderCellDef>
              <button (click)="orderBy('title')" mat-button tabindex="0">Titolo</button>
            </th>
            <td mat-cell *matCellDef="let film">
              <button (click)="openMovieDetails(film)" mat-button tabindex="0">{{ film.title }}</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="rental_date">
            <th class="button-header" mat-header-cell *matHeaderCellDef >
              <button (click)="orderBy('rental_date')" mat-button tabindex="0">Data di noleggio</button>
            </th>
            <td mat-cell *matCellDef="let film">{{ film.rental_date.split("T")[0] }}</td>
          </ng-container>

          <ng-container matColumnDef="return_date">
            <th class="button-header" (click)="orderBy('return_date')"  mat-header-cell *matHeaderCellDef>
              <button (click)="orderBy('return_date')" mat-button tabindex="0">Data di consegna</button>
            </th>
            <td mat-cell *matCellDef="let film">{{ film.return_date.split("T")[0] }}</td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th class="button-header" mat-header-cell *matHeaderCellDef>
              <button (click)="orderBy('amount')" mat-button tabindex="0">Costo</button>
            </th>

            <td mat-cell *matCellDef="let film">{{ film.amount }}€</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
