.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1976D2;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
  align-self: center;
}

.table {
  width: 80%;
  margin-left: 80px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main{
  display: flex;
  margin-top: 30px;
}

.user{
  font-size: 24px;
  align-self: center;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.button-home{
  margin-top: 20px;
}
