.main{
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.table{
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  overflow-x: auto;
  border: 1px solid #ccc;
}

th,
td {
  padding: 1%;
  text-align: left;
}

th {
  width: 5%;
  font-weight: bold;
}

td {
  border-bottom: 1px solid #ccc;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.sidenav-container {
  background-color: white;
}

