<div class="main">
  <h3>DVD DISPONIBILI</h3>
  <div *ngIf="error">
    <p>Error: {{ error }}</p>
  </div>

  <!--
  <div class="todo-container" *ngIf="actors">
    <ul>
      <li *ngFor="let actor of actors">
        <div class="todo">
          <span class="todo-name">{{ actor.first_name }}</span>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="films">
    <ul>
      <li *ngFor="let film of films">
        <div class="todo">
          <span class="todo-name">{{ film.title }}</span>
          <span class="todo-name">{{ film.release_year }}</span>
        </div>
      </li>
    </ul>
  </div>
  -->

  <div>
    <table class="my-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Release Year</th>
        <th>Rating</th>
        <th>Genre</th>
        <th>Language</th>
        <th>Cost</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let film of films">
        <td>{{ film.title }}</td>
        <td>{{ film.release_year }}</td>
        <td>{{ film.rating }}</td>
        <td>{{ film.genre }}</td>
        <td>{{ film.language }}</td>
        <td>{{ film.cost }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
