.main{
  display: flex;
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1976D2;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
  align-self: center;
}

.user{
  font-size: 24px;
  align-self: center;
}

.search-container {
  width: 200px;
  max-width: 200px;
  margin-top: 20px;
}

.category-style {
  width: 200px;
  max-width: 200px;
  align-self: center;
  margin-bottom: 20px;
}

.personal-rental-style,
.rentals-past-style{
  margin-top: 20px;
}

.table {
  width: 80%;
  margin-left: 80px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
}

button {
  margin-right: 10px;
}

th {
  width: 200px;
}

td {
  min-width: 100px;
  border-bottom: 1px solid #ccc;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}













