<div class="main">
  <div class="container">
    <div class="avatar">{{ userFirstName.charAt(0) }}</div>
    <h1 class="user"> {{ userFirstName }} {{userLastName}} </h1>

    <!-- RICERCA DINAMICA PER TITOLO -->
    <input class="search-container" type="text" placeholder="Search by title" [(ngModel)]="searchTitle" (keyup)="searchByTitle()">

    <!-- RICERCA PER CATEGORIA -->
    <select class="category-style" [(ngModel)]="selectedCategory" (change)="searchByCategory()">
      <option value="">All Categories</option>
      <option value="Action">Action</option>
      <option value="Animation">Animation</option>
      <option value="Children">Children</option>
      <option value="Classics">Classics</option>
      <option value="Comedy">Comedy</option>
      <option value="Documentary">Documentary</option>
      <option value="Drama">Drama</option>
      <option value="Family">Family</option>
      <option value="Foreign">Foreign</option>
      <option value="Games">Games</option>
      <option value="Horror">Horror</option>
      <option value="Music">Music</option>
      <option value="New">New</option>
      <option value="Sci-Fi">Sci-Fi</option>
      <option value="Sport">Sport</option>
      <option value="Travel">Travel</option>
    </select>

    <button class="rentals-past-style" (click)="openPastRental()"> Past rentals </button>

    <button class="personal-rental-style" (click)="openPersonalRental()"> Personal rentals </button>

  </div>

  <div class="table">
    <table mat-table [dataSource]="films">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td (click)="openMovieDetails(film)" mat-cell *matCellDef="let film">{{ film.title }}</td>
      </ng-container>

      <ng-container matColumnDef="release_year">
        <th mat-header-cell *matHeaderCellDef>Release Year</th>
        <td mat-cell *matCellDef="let film">{{ film.release_year }}</td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef>Rating</th>
        <td mat-cell *matCellDef="let film">{{ film.rating }}</td>
      </ng-container>

      <ng-container matColumnDef="genre">
        <th mat-header-cell *matHeaderCellDef>Genre</th>
        <td mat-cell *matCellDef="let film">{{ film.genre }}</td>
      </ng-container>

      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef>Language</th>
        <td mat-cell *matCellDef="let film">{{ film.language }}</td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef>Cost</th>
        <td mat-cell *matCellDef="let film">{{ film.cost }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let film"> <button mat-stroked-button> Noleggia </button></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
