.main{
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.search-container {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .search-container{
    width: 80%;
  }

  .table th,
  .table td {
    min-width: 100px;
  }
}

.table{
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ccc;
}

th,
td {
  text-align: left;
  padding: 1%;
}

th {
  width: 5%;
  font-weight: bold;
}

td {
  border-bottom: 1px solid #ccc;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.bottom-style{
  display: flex;
  flex-direction: column;
}

.stile-categoria{
  background-color: white;
}

.stile-categoria:focus,
.stile-categoria:hover{
  background-color: #DBDBDB;
}

.sidenav-container {
  background-color: white;
}

.mat-paginator{
  background-color: #DBDBDB;
}





