<!-- in questa pagina devo mostrare i dettagli per il film richiesto -->
<h1 mat-dialog-title>
  {{ data.movie.title }}
</h1>

<div mat-dialog-content>
  <mat-card>
    <mat-card-title>Descrizione</mat-card-title>
    <mat-card-content>
      {{ data.movie.description }}
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Cast</mat-card-title>
    <mat-card-content>

      <div *ngFor="let actor of actors" class="todo">
        {{ actor.first_name }} {{ actor.last_name }}
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Durata</mat-card-title>
    <mat-card-content>
      {{ data.movie.length }} minuti
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Durata massima del noleggio </mat-card-title>
    <mat-card-content>
      {{data.movie.duration}} giorni(?)
    </mat-card-content>
  </mat-card>



  <!--
  Lunghezza del film: {{ data.movie.length }} minuti<br>
  Durata massima del noleggio: {{data.movie.duration}} giorni(?) <br>
  Descrizione: {{ data.movie.description }} -->
  Questo film è disponibile nei seguenti negozi:


  <div class="table">
    <table>
      <tr>
        <th> Indirizzo </th>
        <th> Copie disponibili </th>
      </tr>

      <!-- La pipe keyvalue di Angular trasforma una mappa in un array di coppie chiave-valore.  -->
      <tr *ngFor="let store of storesWithFilm" >
        <td style="text-align: center"> {{ store.address }}</td>
        <td style="text-align: center"> {{ store.numero_copie }}</td>
      </tr>
    </table>

  </div>
</div>

<div mat-dialog-actions >
  <button *ngIf="this.data.fromHomePage" (click)="openRentModal()" mat-stroked-button> Noleggia </button>
  <button mat-button mat-dialog-close> Chiudi</button>
</div>
