<!-- in questa pagina devo mostrare i dettagli per il film richiesto -->
<h1 mat-dialog-title>
  {{ data.movie.title }}
</h1>

<div mat-dialog-content>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Informazioni sul film</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="film-details">
        <div class="film-detail-row">
          <div class="film-detail-label">Trama:</div>
          <div class="film-detail-value">{{ data.movie.description }}</div>
        </div>

        <div class="film-detail-row">
          <div class="film-detail-label">Attori:</div>
          <div class="film-detail-value">
            <ng-container *ngFor="let actor of actors; let last = last">
              {{ actor.first_name }} {{ actor.last_name }}
              <ng-container *ngIf="!last">, </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="film-detail-row">
          <div class="film-detail-label">Durata:</div>
          <div class="film-detail-value">{{ data.movie.length }} minuti</div>
        </div>

        <div class="film-detail-row">
          <div class="film-detail-label">Durata massima del noleggio:</div>
          <div class="film-detail-value">Puoi noleggiare questo film per un massimo di {{ data.movie.duration }}
          giorni ad una tariffa di {{data.movie.rental_rate}}€/giorno. Superato il periodo massimo di noleggio la tariffa
            giornaliera subirà una maggiorazione.</div>

        </div>
      </div>


      Questo film è disponibile nei seguenti negozi:
      <div class="table">
        <table>
          <tr>
            <th> Indirizzo </th>
            <th> Copie disponibili </th>
          </tr>

          <tr *ngFor="let store of storesWithFilm" >
            <td style="text-align: center"> {{ store.address }}</td>
            <td style="text-align: center"> {{ store.numero_copie }}</td>
          </tr>
        </table>

      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button *ngIf="this.data.fromHomePage" (click)="openRentModal()" mat-stroked-button> Noleggia </button>
      <button mat-button mat-dialog-close> Chiudi</button>
    </mat-card-actions>
  </mat-card>
</div>
